.contentWriteComment, .commentText{
    display: flex;
    align-items: center;
    padding: 8px 5px 8px 5px;
    text-align: start !important;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.write-comment, .commentText > textarea{
    width: 87%;
    height: 35px;
    margin-right: 9px;
    border-radius: 8px;
    border: 0.5px solid #bfbebe;
}

.divComment{
    display: flex;
    flex-direction: column;
    border-bottom: 0.5px solid #c3c3c3;
    padding: 5px;
}
.infoUser{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    margin-bottom: 0.2em;
    padding: 0 0.4px;
}
.infoUser > img{
    border-radius: 50%;
    margin: 3px;
}
.name-comment{
    font-size: 15px;
    margin-left: 0.6em;
    font-weight: bold;
}
.icon-options-comment{
    display: flex;
    margin-left: auto;
    align-items: center;
}
