.container-home{
    width: 100%;
    padding-bottom: 7em;
    background-image: linear-gradient(to bottom, #e0f5ff 0%, #FFFFFF 100%);
    min-height: 100vh;
    padding-top: 1em;
}
.section-home{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin: auto;
}

/*WELCOME TO USER*/

.header-home{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.photoHome{
    margin: 12px 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.header-text{
    display: flex;
    flex-direction: column;
    padding-left: 17px;
    line-height: 0.9cm;
    align-items: flex-start;
    margin-bottom: 14px;
}
.header-text h{
    font-size: 14px;
    line-height : 20px;
}
.header-text p{
    font-size: 16px;
    line-height : 20px;
    text-align: start;
}


/*SECTION DE DESCRIPTION OF USER*/

#sectionDescription{
    padding: 8px;
    display: none;
    flex-direction: column;
    width: 100%;
}
#sectionDescription h1{
    font-size: 17px;
    font-weight: bold;
    color: #484860;
    margin: 8px auto;
}

#infoDescription{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.8;
    width: 100%;
}
#infoDescription > p{
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

#div-etiqueta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
}
#div-etiqueta p{
    width: auto;
    border: transparent;
    background: #B495E7;
    border-radius: 13px;
    padding: 1px 5px;
    font-size: 12px;
    /* margin: 2px 5px; */
    margin-right: 5px;
    margin-block-end: 5px;
    color: white
}

/*SECTION OTHER USERS*/

#divParent-users{   
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border-top: 2px solid #94A4F5;
    padding: 8px;
}
#divParent-users h1{
    font-size: 17px;
    font-weight: bold;
    color: #484860;
    margin: 8px auto;
}

#sectionUsers{
    display: none;
    width: 100%;
}
#section-User{
    width: 100%;
}
.container-info-users{
    /* position: fixed; */
    /* width: 23%; */
    /* padding: 10px; */
    /* background-image: linear-gradient(to bottom, #BEBDFF 0%, #C6FCFF 100% ); */
    border: transparent;
    /* border-radius: 20px; */
    top: 6em;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.divUsers {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}
.oneDivUser {
    display: flex;
    flex-direction: row;
    /* background: cornflowerblue; */
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 2px;
}
.link-user {
    width: 100%;
}
.img-user {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5%;
}
.oneDivUser-parrafo {
    font-size: 14px;
    text-align: start !important;
}

/*BUTTON FOR CREATE A NEW POST*/

#btn-newPost{
    display: none;
    height: 40px;
    width: 9em;
    border-radius: 15px;;
    border: transparent;
    background-image: linear-gradient(120deg, #da5afa99 0%, #3570ec8a 100%);
    color: beige;
    font-size: 12px;
    margin-right: auto;
    margin-left: auto;
}

/*SECTION TYPES OF POST*/

.sectionTypes{
display: none;
}

#header-categories{
    display: flex;
    justify-content: space-around;
}
#header-categories p{
    font-size: 18px;
    font-weight: bold;
}

#todos{
    color: #3570EC;
}

#botones-types{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.div-type{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    position: relative;
}
.img-types{
    width: 90%;
    border-radius: 9px;
    height: 90px;
}

.btn-type{
    background: #ebf9ffa6;
    width: 90%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    border: transparent;
} 
.btn-type{
    font-size: 20px;
    /* font-weight: 700; */
    font-family: 'Outfit';
}


@media (min-width: 768px){
    .container-home{
        padding-top: 7em;
    }
    .section-home{
        flex-direction: row;
    }
    #btn-newPost{
        display: block !important;
        width: 100%;
    }
    .header-home{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 2.5%;
        border-bottom: 2px solid #94A4F5;
    }
    #section-User{
        width: 23%;
        position: relative;
    }
    .container-info-users{
        position: fixed;
        width: 23%;
        padding: 10px;
        /* background-image: linear-gradient(to bottom, #BEBDFF 0%, #C6FCFF 100% ); */
        border: transparent;
        /* border-radius: 20px; */
        top: 6em;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #sectionUsers{
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .sectionTypes{
        width: 23%;
        position: relative;
        display: block;
    }
    #sectionDescription{
        display: flex;
    }
    #divParent-users{
        display: flex;
    }
}