.container-home{
    width: 100%;
    padding-bottom: 7em;
    background-image: linear-gradient(to bottom, #e0f5ff 0%, #FFFFFF 100%);
    min-height: 100vh;
    padding-top: 1em;
}

.header-home{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px 2.5%;
}

.header-text{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    text-align: initial;
    padding-left: 17px;
    line-height: 0.9cm;
    align-items: flex-start;
    font-family: cursive;
    margin-top: -14px;  
}

.header-text h{
    font-size: 15px;
    color: #517fe3;
}

.header-text p{
    font-size: 20px;
    color: #3570EC;
}

.photoHome{
    margin: 12px 0;
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

/*SECTION DE DESCRPCION HOME*/

#sectionDescription{
    display: none;
    padding: 7% 0px;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
    width: 100%;
}

#sectionDescription h1{
    font-family: ui-serif;
    font-size: 19px;
    font-weight: 100;
    color: #484860;
    margin-bottom: 8px;
}

#infoDescription{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.8;
    padding-left: 6%;
    width: 100%;
}

#infoDescription p{
    font-size: 14px;
}

#div-etiqueta{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 5px;
    width: 100%;
}

#div-etiqueta p{
    border: transparent;
    background: #B495E7;
    border-radius: 13px;
    padding: 1px 5px;
    font-size: 12px;
    /* margin: 2px 5px; */
    margin-right: 5px;
    margin-block-end: 5px;
    color: white;
    text-transform: capitalize;
}
#logout{
    background: none;
    border: none;
    font-size: 28px;
    color: white;
    outline: none;
    /* margin-left: 90%; */
    margin-top: 9px;
    position: absolute;
    right: 9px;
}

#btn-newPost{
    display: none;
    height: 40px;
    width: 9em;
    border-radius: 15px;
    /* margin: 10px 0px 6px 0px; */
    /* padding-left: 10px; */
    border: transparent;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    color: #6CC5DE;
    font-size: 14px;
    box-shadow: 0px 0px 3px 1px #8888;
    font-weight: bold;
}

/*-----CSS MODAL DELETE------*/
.modalDelete{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(44, 44, 44, 0.371);
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.modalDivDelete{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 100%;
    align-items: center;
}

.modalContainer-Delete{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, #bebdff 0%, #c6fcff 100%);
    width: 500px;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0px 0px 6px 3px #46464673;
}

#closeDelete{
    text-align: end !important;
    margin: 7px 13px;
    font-size: 20px;
}

.modalContainer-Delete h1{
    border-bottom: 1px solid #adadad;
    border-radius: 9px;
    padding-bottom: 6px;
    margin-bottom: 9px;
}
.aceptDelete{
    height: 40px;
    width: 146px;
    border-radius: 15px;
    margin: 10px 0px 25px 0px;
    padding-left: 10px;
    border: 1.5px transparent;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    color: #6CC5DE;
    font-size: 14px;
    box-shadow: 1px 1px 2px 1px #8888;
    font-weight: bold;
}
.revelar{
    display:flex !important
}
.sectionTypes{
    order: -1;
}

.img-preguntas{
    content: url("../img/imgLogo.png");
}

.div-type{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 10px 0px;
    position: relative;
}

.img-types{
    width: 90%;
    border-radius: 9px;
    height: 30px;
}
.btn-type{
    background: #ebf9ffa6;
    width: 90%;
    height: 100%;
    cursor: pointer;
    position: absolute;
    border: transparent;
} 

.btn-type{
    font-size: 15px;
    /* font-weight: 700; */
    font-family: 'Outfit';
}

.section-home{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
    margin: auto;
}

#divParent-users{   
    /* padding: 7% 10px; */
    display: none;
    flex-direction: column;
    align-items: flex-start;
    /* margin-left: 10px; */
    width: 100%;
    border-top: 2px solid #94A4F5;
    padding-top: 7%;
}

#divParent-users h1{
    font-family: ui-serif;
    font-size: 19px;
    font-weight: 100;
    color: #484860;
    margin-bottom: 8px;
    margin-left: 10px;
}

#sectionUsers{
    display: none;
    width: 100%;
}

#section-User{
    width: 100%;
    order: -2;
}
.container-info-users{
        /* position: fixed; */
    /* width: 23%; */
    /* padding: 10px; */
    /* background-image: linear-gradient(to bottom, #BEBDFF 0%, #C6FCFF 100% ); */
    border: transparent;
    /* border-radius: 20px; */
    top: 6em;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

#header-categories{
    display: flex;
    justify-content: space-between;
}
#header-categories p{
    font-size: 18px;
    font-weight: bold;
}

#todos{
    color: #3570EC;
}

#botones-types{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
.categoryMobile{
    padding: 0px 2.5%;
}

@media (min-width: 768px){
    .container-home{
        padding-top: 7em;
    }
    .section-home{
        flex-direction: row;
    }
    #btn-newPost{
        display: block !important;
        width: 100%;
    }
    .header-home{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 2.5%;
        border-bottom: 2px solid #94A4F5;
    }
    #section-User{
        width: 23%;
        position: relative;
    }
    .container-info-users{
        position: fixed;
        width: 23%;
        padding: 10px;
        /* background-image: linear-gradient(to bottom, #BEBDFF 0%, #C6FCFF 100% ); */
        border: transparent;
        /* border-radius: 20px; */
        top: 6em;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    #sectionUsers{
        display: block;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .sectionTypes{
        width: 23%;
        position: relative;
        display: block;
        order: initial;
    }

    #sectionDescription{
        display: flex;
    }

    #divParent-users{
        display: flex;
    }
    #header-categories{
        display: flex;
        justify-content: space-around;
    }

    #botones-types{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .img-types{
        width: 90%;
        border-radius: 9px;
        height: 90px;
    }
    .btn-type{
        font-size: 20px;
        /* font-weight: 700; */
        font-family: 'Outfit';
    }
}