.nav-mobile{
    position: fixed;
    background: #F8FAFE;
    box-shadow: 0px -28px 26px 21px rgba(231, 237, 250, 0.71);
    width: 100%;
    height: 4em;
    z-index: 1;
    bottom: 0;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0px 26px;
    color: #356fec8c;
}

.menu li{
    list-style: none;
    font-size: 27px;
}

.menu a{
    text-decoration: none;
    color: #356fec6e;
}

.btn-newPost-mobile{
    position: relative; 
    font-size: 64px;
    bottom: 26px;
}

.menu .fa-plus-circle{
    background: white;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 18px #84A8F5);
}

.menu a:hover,
.menu li:hover,
.menuFull a:hover,
.menuFull li:hover{
    text-decoration: none;
    color: #6916926e;
}

.active{
    color: #6916926e !important;
}

/*------NAVEGADOR FULL SCREEN ------------*/
.nav-full{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom, #BEBDFF 0%, #C6FCFF 100% );
    height: 5em;
    align-items: center;
    padding: 0px 3.5%;
    position: fixed;
    width: 100%;
    box-shadow: 4px 5px 10px 4px rgb(189 189 189 / 54%);
    z-index: 1;
}

.divLogo{
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    margin-top: -9px;
}
.logo-full-screen{
    color: #356fec8c;
    font-family: 'Pushster', cursive;
    /* font-weight: 900; */
    font-size: 32px;
    letter-spacing: 2px;
    cursor: pointer;
    text-decoration: none;
    padding-left: 7px;
    line-height: 15px;
}
.fa-crown{
    color: #356fec8c;
    transform: rotate(327deg);
    align-self: flex-start;
    font-size: 17px;
    margin-bottom: 2px;
}

.container-search{
    display: flex;
    width: 34%;
    /* position: relative; */
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.container-search input{
    width: 100%;
    height: 35px;
    border-radius: 25px;
    outline: none;
    border: 1px solid gray;
    padding: 0px 14px;
}
.container-search input:focus{
    outline: none;
    box-shadow: 0px 0px 0.2px 3px #356fec44;
}

.container-search .search:hover,
.container-search .search:focus{
    box-shadow: 0px 0px 7px 1px #b3b3b38f;
    border: 0.55px solid #353535;

}

.menuFull{
    display: flex;
    /* height: 100%; */
    align-items: center;
    width: 20%;
    justify-content: space-between;
    color:  #356fec8c;
}

.menuFull li{
    list-style: none;
    font-size: 25px;
}

.menuFull a{
    cursor: pointer;
    text-decoration: none;
    color: #356fec8c;
}

.btn-search{
    background: none;
    border: none;
    position: absolute;
    font-size: 20px;
    color: gray;
    padding: 0px 15px;
    margin-top: 3px;
}
.container-result-search{
    width: 100%;
}
.result-search {
    list-style-type: none;
    position: absolute;
    top: 70px;
    width: 30%;
    border-radius: 15px;
    padding: 10px;
    background-image: linear-gradient(to bottom, #BEBDFF 0%, #C6FCFF 100% );
    overflow-y: auto;
    z-index: 2;
}

.result-search li {
    color: black;
}

.li-user{
    padding: 10px;
    font-size: 17px;
    cursor: pointer;
}


@media (min-width: 768px){
    .nav-mobile{
        display: none;
    }
    /* #logout{
        background: none;
        border: none;
        color:  #356fec8c;
        outline: none;
        margin-left: inherit;
        margin-top: inherit; 
        position: inherit; 
        right: inherit;
        font-size:26px;
        display: flex;
        align-items: center;
    } */
    .logout-mobile{
        display: none !important;
    }
}

@media (max-width: 767px){
    .logo-full-screen{
        display: none;

    }
    .menuFull{
        display: none;
    }
    .container-search{

        width: 70%;
        justify-content: center;
        margin: auto;
 
    }
    .nav-full{
        height: 3em;
        align-items: center;
        padding: 0px 3.5%;
        position: absolute;
        width: 100%;
    }
    .result-search {
        width: 60%;

    }
}
