/* -----MODAL NEW POST MOBILE----- */

.modalNewPost{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(44, 44, 44, 0.371);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.modalDivPost{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    width: 100%;
    align-items: center;
}

.modalContainer-NewPost{
    background-image: linear-gradient(to bottom, #bebdff 0%, #c6fcff 100%);
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    box-shadow: 0px 0px 6px 3px #46464673;
}

.containerNewPost{
    background: #ffffff8f;
    min-height: 92vh;
    width: 96%;
    border-radius: 14px;
    /* margin: 11px 2.5%; */
    margin: 8px auto;
    padding: 6% 5%;
}

/* -----OPTIONS FOR NEW POST----- */

.header-newPost{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: burlywood; */
    padding-bottom: 26px;
}

.publish{
    height: 36px;
    width: 90px;
    margin: 1px;
    border-radius: 30px;
    border: transparent;
    background-image: linear-gradient(120deg, #da5afa99 0%, #3570ec8a 100%);
    color: beige;
    font-size: 13px;
}

.descart{
    height: 36px;
    width: 90px;
    border-radius: 30px;
    border: transparent;
    background-image: linear-gradient(120deg, #da5afa99 0%, #3570ec8a 100%);
    font-size: 13px;
    color: beige;
}

.descart a{
    text-decoration: none;
    
}

/* -----INFO OF USER----- */

.info-user{
    display: flex;
    padding-bottom: 16px;
    align-items: center;
}
#photoUser1{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.name-user{
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    justify-content: space-around;
}
.name-user select{
    width: 7em;
}
#namePost{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
}

/* -----OPTIONS POST----- */

#selects{
    width: 85px;
    margin-left: auto;
}
.privacity, .type{
    border-radius: 3px;
    border: 1px;
    border-color: rgb(87, 87, 87);
    background: #ffffffbf;
    padding: 1.5px;
    margin: 2.4px;
    width: 100%;
}
#selects option{
    font-size: 12px;
    padding: 3px;
}

/* -----CONTENT COMMENT----- */

.containerNewPost textarea{
    width: 97%;
    height: 15vh;
    border-radius: 12px;
    border: transparent;
    background: #ffffffbf;
    padding: 9px 10px;
    font-size: 16px;
}
#newPost{
    font-size: 18px;
    font-weight: bold;
}

.plus-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-image: linear-gradient(120deg, #da5afa99 0%, #3570ec8a 100%);
    width: 40px;
    border-radius: 50%;
    filter: drop-shadow(0px 4px 18px #84A8F5);
}

.plus-image b{
    font-size: 34px;
    color: white;
}

.add-element{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.addImage{
    display: flex;
    width: 161px;
    background: #1900b059;
    margin-left: 19px;
    justify-content: space-around;
    height: 34px;
    border-radius: 24px;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

#container-image-preview{
    position:relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.image-preview{
    width: 100%;
    border-radius: 14px;
    margin: 5px;
   /*  box-shadow: 0px 0px 6px 1.5px rgb(0 0 0 / 25%); */
}

.addImage button{
    border: none;
    background: none;
    /* width: 33%; */
    color: white;
    font-size: 24px;
}

.addImage ion-icon{
    display: block;
}

.container-profile{
    width: 100%;
}
.header-profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#delete-imgUpload{
    display: block;
    /* position: absolute; */
    /* right: 16%; */
    /* top: 12px; */
    color: #010101ba;
    font-size: 20px;
    font-weight: bolder;
    margin-top: 1%;
    margin-left: 1%;
}
#delete-imgUpload:hover{
    display: block;
    /* position: absolute; */
    /* right: 16%; */
    /* top: 12px; */
    font-size: 24px;
    background: linear-gradient(to right, #da5afa99 0%, #3570ec8a 100%);
    -webkit-background-clip: text;
    color: transparent; 
}
/*MODAL PARA PANTALLA GRANDE*/
@media (min-width: 768px){
    .modalContainer-NewPost{
        width: 55%;
        height: 93%;
        /* border-radius: 20px; */
        box-shadow: 0px 0px 6px 3px #46464673;
        padding: 1.5% 0px;
    }
    .containerNewPost{
        min-height: 100%;
        width: 95%;
        /* border-radius: 14px; */
        margin: 0px 2.5%;
        padding: 6% 5%;
    }
    .img-prev{
        height: 14em;
        width: 71%;
        border-radius: 15px;
        box-shadow: 0px 0px 6px 1.5px rgb(0 0 0 / 25%);
    }

}