.div-showPost{
    width: 100%;
    /* margin: 0px 4%; */
}
#showPost, #PostProfile{
    margin: 0px 2.5%;
    /* width: 95%; */
}

.postDiv{
    position: relative;
   /*  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%); */
    margin: 14px 0px;
    border-radius: 6px;
    background: #ffffff75;
    box-shadow: 0px 0px 3px 1px rgb(163 163 163 / 45%);
}

.header-post{
    display: flex;
    border-bottom: 0.5px solid #c3c3c3;
    align-items: center;
    padding: 2px 4px;
}

.header-post img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 3px solid white;
}

.header-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    margin-left: 8px;
}

.post-name, .namePost{
/*     font-weight: bold; */
    font-size: 16px;
    width: auto;
    text-align: start !important;
    margin: 5px 0;
}

.date{
    font-size: 12px;
    color: gray;
}

.img-post-home{
    width: 100%;
    object-fit: fill;
    height: 180px;
    padding: 4px;
}
.text-post-home{
    display: flex;
    align-items: center;
    text-align: start !important;
    margin: 10px 20px;
    font-size: 15px;
}

.editPost{
    width: 87%;
    height: 35px;
    margin-right: 9px;
    border-radius: 8px;
    border: 0.5px solid #bfbebe;
    padding: 0.1em 0.5em 0.1em 0.5em;
}
.save{
    height: 23px;
    width: 54px;
    border-radius: 9px;
    border: transparent;
    background-image: linear-gradient(120deg, #da5afa99 0%, #3570ec8a 100%);
    color: beige;
    font-size: 12px;
    margin-right: auto;
    margin-left: auto;
}

.icon-options-comment{
    padding: 5px;
}
.icon-options{
    margin-left: auto;
    padding-left: 1em;
}

#postIcons{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.1em;
    padding-left: 0.5em;
    border-bottom: 0.5px solid #c1c1c1;
}

.likes, .comments {
    display: flex;
    flex-direction: row;
    width: auto;
    align-items: center;
    margin-right: 18px;
}
.likes{
    margin-left: 0.5em;
}
.comments{
    margin-left: 1.5em;
}

.icon{
    margin: 0.5em;
    cursor: pointer;
}
.fa-heart{
    color: deeppink;
}

.fa-comment{
    color: #3D3DF2;
}
.amount{
    font-size: 12px;
}

.div-options{
    display: flex;
    flex-direction: column;
    position: absolute;
    right: calc(100% - 98%);
    margin-top: 6px;
    align-items: flex-end;
}

.box-options{
    background-image: linear-gradient(to bottom, #e0f5ff 35%, #FFFFFF 100%);
    box-shadow: 1px 1px 5px 0px lightgrey;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-right: 14px;
}
.content-icon{
    margin: 6px;
}
.box-options .fas,
.box-options .far{
    margin-right: 6px;
}
.show{
    display: flex !important;
}

@media (min-width: 768px){
    .img-post-home{
        height: 410px;
    }
    .div-showPost{
        width: 50%;
        /* margin: 0px 4%; */
    }
    #showPost{
        width: 100%;
        margin: 0px;
    }    
}