.container-profile{
    background-image: linear-gradient(to bottom, #e0f5ff 0%, #FFFFFF 100%);
    min-height: 100vh;
    padding-bottom: 7em;
}
#frontPageProfile{
    width: 100%;
}

/* -----BACKGROUND----- */
.container-portada{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
}

/* -----BUTTON EDIT PROFILE----- */
#goEdit{
    position: absolute;
    margin: 16px;
    text-decoration: none;
    height: 23px;
    width: 70px;
    border-radius: 9px;
    border: transparent;
    background-image: linear-gradient(120deg, #da5afa99 0%, #3570ec8a 100%);
    color: beige;
    font-size: 12px;
    cursor: pointer;
}

/* -----INFO OF USER----- */

#photoUserProfile{
    margin-top: -27px;
    filter: drop-shadow(0px 1px 16px #84A8F5);
    border-radius: 50%;
    border: 4px solid #ffffff;
    width: 100px;
    height: 100px;
}
.container-info{
    /* background: azure; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-profile{
    display: flex;
    flex-direction: column;
    text-align: center;
    background: #ffffff85;
    padding: 19px 10px 6px 10px;
    width: 90%;
    border-radius: 20px;
    border: 2px solid white;
    margin-top: -20px;
}
#infoUserProfile{
    font-size: 22px;
    text-transform: capitalize;
    font-family: cursive;
    color: #3570EC;
}
#career, #aboutP{
    color: #484860;
    font-size: 13px;
    margin: 0.2em;
}

/* -----INFO FOLLOWERS AND NUMBER OF POSTS-----*/

.container-follower{
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

.container-follower li{
    list-style: none;
    border-right: 1px solid gray;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.follower{
    width: 33%;
    padding-right: 6px;
}
.follow{
    width: 33%;
}
.posts-li{
    width: 33%;
    border: none !important;
}

.li-number{
    font-weight: 900;
    letter-spacing: 2px;
    color: #AAC6EF;
    font-size: 14px;
}

.li-description{
    font-size: 12px;
    color: #484860;
    font-family: 'Outfit';
    margin-top: 6px;
}

#container-postProfile{
    width: 95%;
    margin: auto;
    padding-top: 2%;
}

/*SECCION INFO USER"ยก*/
.fullUser{
    display:none;
    
}
#section-infoUser{
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

/* -----SECTION USER POSTS----- */

#post-section{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
    width: 100%;
}
#post-section > h1{
    margin: 1em;
    font-size: 18px;
}

@media (min-width: 768px){
    .container-profile{
        padding-top: 5em;
    }
    #frontPageProfile{
        height: 300px;
    }
    .fullUser{
        display:block;
        width: 30% !important;
    }
    .info-user-full{
            /* position: fixed; */
    /* width: 23%; */
    padding: 10px;
    /* background-image: linear-gradient(to bottom, #BEBDFF 0%, #C6FCFF 100% ); */
    border: transparent;
    /* border-radius: 20px; */
    top: 6em;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    }
    .container-info{
        flex-direction: row;
        align-items: center;
        width: 85%;
        /* justify-content: center; */
    }
    #photoUserProfile{
        margin-top: -24px;
        filter: drop-shadow(0px 4px 18px #84A8F5);
        border-radius: 50%;
        border: 4px solid #ffffff;
        width: 130px;
        height: 130px;
    }
    .info-profile{
        width: 90%;
        flex-direction: row;
        padding: 23px 2px 0px 0px;
        align-items: center;
        background: none;
        border: none;
        justify-content: space-between;
    }
    #career,
    #aboutP{
        display:none
    }

    #infoUserProfile{
        font-size: 32px;
        text-transform: capitalize;
        font-family: math;
        color: #3570EC;
        font-weight: 0;
        margin: 3% auto 3% 0% ;
        align-self: flex-start !important;
        width: 80%;
    }

    #section-infoUser{
        width: 85%;
        margin: 2% auto;
        background: #ffffff6b;
        padding: 2% 2% 0px 0px;
        border-radius: 20px;
    }

    #container-postProfile{
        width: 65%;
    }

    .container-follower{
        width: 60%;
        margin-top: 0px;
    }

    #post-section{
        width: 70%;
    }
    .li-number{
        font-size: 16px;
    }
}
@media (min-width: 1080px){
    #infoUserProfile{
        width: 40%;
        text-align: start;
    }
    .container-follower{
        width: 50%;
        margin-top: 0px;
    }
}