@media (min-width: 992px) {
    body{
        background-image: url(../img/fondo-pantalla-completa.png);
        background-size: 100% 100%;
    }
    #container{
        padding-right: 5%;
        align-items: end;
    }
@media (min-width: 1300px) {
    #container{
        padding-right: 9%;
        align-items: end;
    }
}
}
