.divUsers {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.oneDivUser {
  display: flex;
  flex-direction: row;
  /* background: cornflowerblue; */
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 2px;
}
.link-user {
  width: 100%;
}
.img-user {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 5%;
}
.oneDivUser-parrafo {
  font-size: 15px;
  text-align: start !important;
}